html::-webkit-scrollbar {
  display: none;
}
html body {
  font-family: 'Arial';
  inset: 0;
  margin: 0 auto;
  padding: 0;
}
html a {
  color: #fff;
  text-decoration: none;
}
html a:hover {
  color: #ffa500;
}
html .header {
  display: flex;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
  background-color: #cef0ff;
}
html form {
  width: 80%;
}
html img {
  display: flex;
  width: 100%;
}
html .menu {
  display: grid;
  margin-top: 10px;
  height: 150px;
  grid-template-rows: 2fr 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1vw;
  background: url("https://phonoteka.org/uploads/posts/2022-09/1663019385_19-phonoteka-org-p-tekstura-neba-besshovnaya-krasivo-21.jpg");
}
html .menu-name {
  display: flex;
  grid-column: 1/4;
  grid-row: 1/2;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 2em;
  width: 100%;
}
html .menu-block {
  display: flex;
  grid-column: 2/4;
  grid-row: 2/3;
  justify-content: space-around;
}
html .menu-block-item {
  display: inline-flex;
  margin-bottom: 10px;
  height: 70%;
  justify-content: center;
  align-items: center;
  width: 15%;
}
html .footer {
  display: flex;
  padding: 0 20px 0 20px;
  align-items: center;
  margin-top: 10px;
  height: 40px;
  justify-content: space-between;
  border-top: 1px solid #000;
  align-content: end;
}
@media (max-width: 600px) {
  .menu {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
  .menu-name {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .menu-block {
    grid-column: 1/3;
    grid-row: 2/4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
  }
  .menu-block-item {
    width: 50%;
  }
  .footer {
    font-size: 12px;
  }
}
